{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<p id="scripture"></p><button id="btn_scripture">More</button>
<hr>
<label for="message">
Message
</label>
<input type="text" id="message_entropy">
<label for="length">
Length
</label>
<input type="range" min="10" max="30" id="length_entropy">
<button id="btn_entropy" type="submit">Generate</button>
<hr>
<p id="text"></p>
{% endblock %}
