{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h1>About</h1>
<p>My name is Alastair Poole.</p>
<hr>
<h2>Code</h2>
<ul>
    <li>You can access by github at <a href="https://github.com/haxworx">https://github.com/haxworx</a>.</li>
    <li>I've developed software in C++, Delphi, BASIC, Rust, Go, Javascript, Lisp, C, Perl, Python, C#, Objective-C.</li>
    <li>My favourite language is C but sadly I don't have much time these days to write in it.</li>
    <li>I write software for Linux, OpenBSD, FreeBSD and DragonFlyBSD.</li>
    <li>Some of my code is in the Linux kernel and distributed by Debian/Ubuntu.</li>
    <li>A long time ago I maintained the GNU OS (GNU/Hurd and userland GNU).</li>
    <li>I wrote some basic device drivers for OpenBSD.</li>
    <li>I was an Enlightenment Window Manager developer.</li>
</ul>
<hr>
<h3>Location</h3>
<p>I live in Derby, England. I have lived in Aberdeen, Ballater, Braemar, Melbourne (Australia), Lichfield and Derby.</p>
<hr>
<h3>Faith</h3>
<p>I am a devout Roman Catholic.</p>
<h3>Health</h3>
<p>I "suffer" from schizophrenia. I also have unusual problems with serotonin due to benzodiazepine abuse and withdrawal.</p>
<h3>Friends</h3>
<p>Over the years I have met some very interesting people. I love my friends, though I'm yet to make any in Derby.</p>
<h3>Hope</h3>
<p>I hope to work in I.T. again. I hope to make it to the end and to be with God for all of eternity.</p>
{% endblock %}
