{% if is_granted('ROLE_USER') %}
    <form action="/post/delete/{{ post.id }}" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('post-delete') }}">
        <button type="submit">Delete</button>
    </form>
{% endif %}

