{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<h1>Post</h1>
<hr>
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.text) }}
<button type="submit">Post</button>
{{ form_end(form) }}
{% endblock %}
