{% extends 'base.html.twig' %}

{% block title %}User Settings{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<h1>User Settings</h1>
<hr>
<h2>Change Password</h2>
<p>Enter your current password and your desired new password.</p>
<hr>
{{ form(form) }}
{% endblock %}
